@font-face {
    font-family: "icon";
    src: url("/toolbox/fonts/icon.eot?4f771306c0f0e323006928eeabb185df?#iefix") format("embedded-opentype"),
url("/toolbox/fonts/icon.woff?4f771306c0f0e323006928eeabb185df") format("woff"),
url("/toolbox/fonts/icon.ttf?4f771306c0f0e323006928eeabb185df") format("truetype"),
url("/toolbox/fonts/icon.svg?4f771306c0f0e323006928eeabb185df#icon") format("svg");
}

@if not variable-exists('webfont-icons') {
    $webfont-icons: () !global;
}

$webfont-icons: map-merge($webfont-icons, (
        'alert': ('icon' '\f101'),
        'arrow-long-down': ('icon' '\f102'),
        'arrow-long-left': ('icon' '\f103'),
        'arrow-long-right': ('icon' '\f104'),
        'arrow-long-up': ('icon' '\f105'),
        'behance-square': ('icon' '\f106'),
        'behance': ('icon' '\f107'),
        'bell': ('icon' '\f108'),
        'check-circle-o': ('icon' '\f109'),
        'check-circle': ('icon' '\f10a'),
        'check': ('icon' '\f10b'),
        'chevron-down': ('icon' '\f10c'),
        'chevron-left-double': ('icon' '\f10d'),
        'chevron-left': ('icon' '\f10e'),
        'chevron-right-double': ('icon' '\f10f'),
        'chevron-right': ('icon' '\f110'),
        'chevron-up': ('icon' '\f111'),
        'circle-slash': ('icon' '\f112'),
        'dash': ('icon' '\f113'),
        'exclamation-circle': ('icon' '\f114'),
        'exclamation-triangle': ('icon' '\f115'),
        'exclamation': ('icon' '\f116'),
        'facebook-f': ('icon' '\f117'),
        'facebook-official': ('icon' '\f118'),
        'facebook-square': ('icon' '\f119'),
        'facebook': ('icon' '\f11a'),
        'file-directory': ('icon' '\f11b'),
        'file-media': ('icon' '\f11c'),
        'file': ('icon' '\f11d'),
        'gear': ('icon' '\f11e'),
        'google-plus-square': ('icon' '\f11f'),
        'google-plus': ('icon' '\f120'),
        'google': ('icon' '\f121'),
        'heart': ('icon' '\f122'),
        'info-circle': ('icon' '\f123'),
        'info': ('icon' '\f124'),
        'instagram': ('icon' '\f125'),
        'link-external': ('icon' '\f126'),
        'linkedin-square': ('icon' '\f127'),
        'linkedin': ('icon' '\f128'),
        'location': ('icon' '\f129'),
        'lock': ('icon' '\f12a'),
        'organization': ('icon' '\f12b'),
        'person': ('icon' '\f12c'),
        'plus-small': ('icon' '\f12d'),
        'plus': ('icon' '\f12e'),
        'report': ('icon' '\f12f'),
        'search': ('icon' '\f130'),
        'stop': ('icon' '\f131'),
        'tag': ('icon' '\f132'),
        'triangle-down': ('icon' '\f133'),
        'triangle-left': ('icon' '\f134'),
        'triangle-right': ('icon' '\f135'),
        'triangle-up': ('icon' '\f136'),
        'twitter-square': ('icon' '\f137'),
        'twitter': ('icon' '\f138'),
        'warning': ('icon' '\f139'),
        'x': ('icon' '\f13a'),
));

@mixin webfont-icon($name) {
    line-height: 1;
    $icon: map-get($webfont-icons, $name);
    &:before {
        font-family: nth($icon, 1);
        font-style: normal;
        font-weight: normal;
        vertical-align: bottom;
        content: nth($icon, 2);
    }
}

.icon {
    font-family: "icon";
    vertical-align: bottom;
}

.icon-:before {
    font-family: icon;
    font-style: normal;
    font-weight: normal;
    vertical-align: bottom;
}

    .icon-alert:before {
        content: "\f101";
        vertical-align: bottom;
    }
    %icon-alert {
        content: "\f101";
    }
    .icon-arrow-long-down:before {
        content: "\f102";
        vertical-align: bottom;
    }
    %icon-arrow-long-down {
        content: "\f102";
    }
    .icon-arrow-long-left:before {
        content: "\f103";
        vertical-align: bottom;
    }
    %icon-arrow-long-left {
        content: "\f103";
    }
    .icon-arrow-long-right:before {
        content: "\f104";
        vertical-align: bottom;
    }
    %icon-arrow-long-right {
        content: "\f104";
    }
    .icon-arrow-long-up:before {
        content: "\f105";
        vertical-align: bottom;
    }
    %icon-arrow-long-up {
        content: "\f105";
    }
    .icon-behance-square:before {
        content: "\f106";
        vertical-align: bottom;
    }
    %icon-behance-square {
        content: "\f106";
    }
    .icon-behance:before {
        content: "\f107";
        vertical-align: bottom;
    }
    %icon-behance {
        content: "\f107";
    }
    .icon-bell:before {
        content: "\f108";
        vertical-align: bottom;
    }
    %icon-bell {
        content: "\f108";
    }
    .icon-check-circle-o:before {
        content: "\f109";
        vertical-align: bottom;
    }
    %icon-check-circle-o {
        content: "\f109";
    }
    .icon-check-circle:before {
        content: "\f10a";
        vertical-align: bottom;
    }
    %icon-check-circle {
        content: "\f10a";
    }
    .icon-check:before {
        content: "\f10b";
        vertical-align: bottom;
    }
    %icon-check {
        content: "\f10b";
    }
    .icon-chevron-down:before {
        content: "\f10c";
        vertical-align: bottom;
    }
    %icon-chevron-down {
        content: "\f10c";
    }
    .icon-chevron-left-double:before {
        content: "\f10d";
        vertical-align: bottom;
    }
    %icon-chevron-left-double {
        content: "\f10d";
    }
    .icon-chevron-left:before {
        content: "\f10e";
        vertical-align: bottom;
    }
    %icon-chevron-left {
        content: "\f10e";
    }
    .icon-chevron-right-double:before {
        content: "\f10f";
        vertical-align: bottom;
    }
    %icon-chevron-right-double {
        content: "\f10f";
    }
    .icon-chevron-right:before {
        content: "\f110";
        vertical-align: bottom;
    }
    %icon-chevron-right {
        content: "\f110";
    }
    .icon-chevron-up:before {
        content: "\f111";
        vertical-align: bottom;
    }
    %icon-chevron-up {
        content: "\f111";
    }
    .icon-circle-slash:before {
        content: "\f112";
        vertical-align: bottom;
    }
    %icon-circle-slash {
        content: "\f112";
    }
    .icon-dash:before {
        content: "\f113";
        vertical-align: bottom;
    }
    %icon-dash {
        content: "\f113";
    }
    .icon-exclamation-circle:before {
        content: "\f114";
        vertical-align: bottom;
    }
    %icon-exclamation-circle {
        content: "\f114";
    }
    .icon-exclamation-triangle:before {
        content: "\f115";
        vertical-align: bottom;
    }
    %icon-exclamation-triangle {
        content: "\f115";
    }
    .icon-exclamation:before {
        content: "\f116";
        vertical-align: bottom;
    }
    %icon-exclamation {
        content: "\f116";
    }
    .icon-facebook-f:before {
        content: "\f117";
        vertical-align: bottom;
    }
    %icon-facebook-f {
        content: "\f117";
    }
    .icon-facebook-official:before {
        content: "\f118";
        vertical-align: bottom;
    }
    %icon-facebook-official {
        content: "\f118";
    }
    .icon-facebook-square:before {
        content: "\f119";
        vertical-align: bottom;
    }
    %icon-facebook-square {
        content: "\f119";
    }
    .icon-facebook:before {
        content: "\f11a";
        vertical-align: bottom;
    }
    %icon-facebook {
        content: "\f11a";
    }
    .icon-file-directory:before {
        content: "\f11b";
        vertical-align: bottom;
    }
    %icon-file-directory {
        content: "\f11b";
    }
    .icon-file-media:before {
        content: "\f11c";
        vertical-align: bottom;
    }
    %icon-file-media {
        content: "\f11c";
    }
    .icon-file:before {
        content: "\f11d";
        vertical-align: bottom;
    }
    %icon-file {
        content: "\f11d";
    }
    .icon-gear:before {
        content: "\f11e";
        vertical-align: bottom;
    }
    %icon-gear {
        content: "\f11e";
    }
    .icon-google-plus-square:before {
        content: "\f11f";
        vertical-align: bottom;
    }
    %icon-google-plus-square {
        content: "\f11f";
    }
    .icon-google-plus:before {
        content: "\f120";
        vertical-align: bottom;
    }
    %icon-google-plus {
        content: "\f120";
    }
    .icon-google:before {
        content: "\f121";
        vertical-align: bottom;
    }
    %icon-google {
        content: "\f121";
    }
    .icon-heart:before {
        content: "\f122";
        vertical-align: bottom;
    }
    %icon-heart {
        content: "\f122";
    }
    .icon-info-circle:before {
        content: "\f123";
        vertical-align: bottom;
    }
    %icon-info-circle {
        content: "\f123";
    }
    .icon-info:before {
        content: "\f124";
        vertical-align: bottom;
    }
    %icon-info {
        content: "\f124";
    }
    .icon-instagram:before {
        content: "\f125";
        vertical-align: bottom;
    }
    %icon-instagram {
        content: "\f125";
    }
    .icon-link-external:before {
        content: "\f126";
        vertical-align: bottom;
    }
    %icon-link-external {
        content: "\f126";
    }
    .icon-linkedin-square:before {
        content: "\f127";
        vertical-align: bottom;
    }
    %icon-linkedin-square {
        content: "\f127";
    }
    .icon-linkedin:before {
        content: "\f128";
        vertical-align: bottom;
    }
    %icon-linkedin {
        content: "\f128";
    }
    .icon-location:before {
        content: "\f129";
        vertical-align: bottom;
    }
    %icon-location {
        content: "\f129";
    }
    .icon-lock:before {
        content: "\f12a";
        vertical-align: bottom;
    }
    %icon-lock {
        content: "\f12a";
    }
    .icon-organization:before {
        content: "\f12b";
        vertical-align: bottom;
    }
    %icon-organization {
        content: "\f12b";
    }
    .icon-person:before {
        content: "\f12c";
        vertical-align: bottom;
    }
    %icon-person {
        content: "\f12c";
    }
    .icon-plus-small:before {
        content: "\f12d";
        vertical-align: bottom;
    }
    %icon-plus-small {
        content: "\f12d";
    }
    .icon-plus:before {
        content: "\f12e";
        vertical-align: bottom;
    }
    %icon-plus {
        content: "\f12e";
    }
    .icon-report:before {
        content: "\f12f";
        vertical-align: bottom;
    }
    %icon-report {
        content: "\f12f";
    }
    .icon-search:before {
        content: "\f130";
        vertical-align: bottom;
    }
    %icon-search {
        content: "\f130";
    }
    .icon-stop:before {
        content: "\f131";
        vertical-align: bottom;
    }
    %icon-stop {
        content: "\f131";
    }
    .icon-tag:before {
        content: "\f132";
        vertical-align: bottom;
    }
    %icon-tag {
        content: "\f132";
    }
    .icon-triangle-down:before {
        content: "\f133";
        vertical-align: bottom;
    }
    %icon-triangle-down {
        content: "\f133";
    }
    .icon-triangle-left:before {
        content: "\f134";
        vertical-align: bottom;
    }
    %icon-triangle-left {
        content: "\f134";
    }
    .icon-triangle-right:before {
        content: "\f135";
        vertical-align: bottom;
    }
    %icon-triangle-right {
        content: "\f135";
    }
    .icon-triangle-up:before {
        content: "\f136";
        vertical-align: bottom;
    }
    %icon-triangle-up {
        content: "\f136";
    }
    .icon-twitter-square:before {
        content: "\f137";
        vertical-align: bottom;
    }
    %icon-twitter-square {
        content: "\f137";
    }
    .icon-twitter:before {
        content: "\f138";
        vertical-align: bottom;
    }
    %icon-twitter {
        content: "\f138";
    }
    .icon-warning:before {
        content: "\f139";
        vertical-align: bottom;
    }
    %icon-warning {
        content: "\f139";
    }
    .icon-x:before {
        content: "\f13a";
        vertical-align: bottom;
    }
    %icon-x {
        content: "\f13a";
    }
