$padding-left-right: 20px;
$marg-top-input: 15px;
$font-size-icon: $font-size-base;

$background-label: $color-primary;
$background-disabled-label: $color-grey;
$color-label: white;

@include inputPlaceholder(font-style, italic);

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type='datetime'],
input[type="search"],
input[type="url"] {
  @extend .input-reset;
  &:disabled {
    background-color: $background-disabled-label;

    & + label {
      background-color: darken($background-disabled-label, 50%);
    }
  }
}

.input-container {
  position: relative;

  .#{unquote($font-icon)} {
    position: absolute;
    top: 50%;
    right: $padding-left-right;
    font-size: $font-size-icon;
    transform: translateY(calc(-50% + #{$marg-top-input}/2));

    & + input {
      padding-right: $padding-left-right*2 + $font-size-icon;
    }
  }

  input {
    width: 100%;
    margin-top: $marg-top-input;
    padding: 18px $padding-left-right 15px $padding-left-right;
    background-color: white;
    &:focus + label {
      transform: translateX(5px);
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 $padding-left-right;
    max-width: calc(100% - #{$padding-left-right});
    padding: 5px 8px;
    color: $color-label;
    background-color: $background-label;
    font-size: $font-size-small;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform $duration $easeInOutCubic;
  }
}