$padding-left-right: 20px;
$padding-bottom: 10px;
$padding-top: 30px;

$background-disabled-label: $color-grey;

@include inputPlaceholder(font-style, italic);

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type='datetime'],
input[type="search"],
input[type="url"] {
  @extend .input-reset;
  &:disabled {
    background-color: $background-disabled-label;
  }
}

.input-validate {
  position: relative;

  input {
    width: 100%;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: $padding-top $padding-left-right $padding-bottom $padding-left-right;
    font-size: $font-size-small;
    &:focus + label,
    &[value] + label,
    &.is-valid + label {
      top: 0;
      font-size: $font-size-extra-small;
      color: $color-grey-dark;
      transform: translateY($padding-bottom);
    }
  }

  label {
    position: absolute;
    left: $padding-left-right;
    top: 50%;
    margin: 0;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all $duration $easeInOutCubic;
  }

  .#{unquote($font-icon)} {
    position: absolute;
    right: $padding-left-right;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    & ~ input {
      padding-right: $padding-left-right + $font-size-base*2;
    }
  }
}