$padding-icon: 10px;
$font-size-icon: 20px;

input[type="password"] {
  font: caption;
  font-size: $font-size-small;
  letter-spacing: 1.2px;
}

.input-validate, .input-container {
  *[data-view-password] {
    cursor: pointer;
    pointer-events: all;
    font-size: $font-size-icon;
    padding: $padding-icon;
    right: $padding-left-right - $padding-icon;
  }
}