$padding-icon: 10px;
$font-size-icon: 20px;

.input-validate, .input-container {
  input[type="password"] {
    font: caption;
    font-size: $font-size-small;
  }

  *[data-view-password] {
    cursor: pointer;
    pointer-events: all;
    font-size: $font-size-icon;
    padding: $padding-icon;
    right: $padding-left-right - $padding-icon;
  }
}

.input-container {
  input[type="password"] {
    font-size: inherit;
  }

  *[data-view-password] {
    transform: translateY(calc(-50% + #{$padding-icon}));
  }
}