span.site-name {
	display: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

.content:not(.custom) a:hover {
  text-decoration: none;
}

.img-block img {
  display: block;
  width: 100%;
}